[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

python-dateutil = "*"
flask = "*"
flask-wtf = "*"
openpyxl = "*"
flask-login = "*"
pandas = "*"
tox = "*"


[dev-packages]



[requires]

python_version = "3.6"
