{% extends "base.html" %}

{% block content %}
    <h1>Добавьте год расчета</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.year.label }}<br>
            {{ form.year }}<br>
            {% for error in form.year.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.start_kathisma.label }}<br>
            {{ form.start_kathisma }}<br>
            {% for error in form.year.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>

        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}